@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body {
    background-color:#0f0f14;
    font-family:"Poppins",sans-serif;
}

/*-------------- header --------------*/

header {
   display: flex;
   color: white;
   justify-content: center;
   align-items: center;
   gap: 50px;
   padding: 30px;
   max-width: 1200px;
   margin: 0 auto;
}

#logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo img{
    width: 30px;
}

#logo h1 {
    font-size: 30px;
}

header img{
margin-top: 30px;
 width: 400px;
 height: auto;
}

header h1{
    font-size: 30px;
    margin-top: 40px;
}

header p {
    font-size: 20px;
    color: rgb(190, 190, 190);
}

/* ------------------- header mobile ------------------ */

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 5px;
        text-align: center;
    }
    
    #header-text h1{
        width: 100%;
        max-width: 400px;
        padding: 20px;
    }

    #header-text p {
        font-size: 15px;
    }
}