@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body {
    background-color:#0f0f14;
    font-family:"Poppins",sans-serif;
}

/*-------------- header --------------*/

header {
   display: flex;
   color: white;
   justify-content: center;
   align-items: center;
   gap: 50px;
   padding: 30px;
   max-width: 1200px;
   margin: 0 auto;
}

#logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

#logo img{
    width: 30px;
}

#logo h1 {
    font-size: 30px;
}

header img{
margin-top: 30px;
 width: 400px;
 height: auto;
}

header h1{
    font-size: 30px;
    margin-top: 40px;
}

header p {
    font-size: 20px;
    color: rgb(190, 190, 190);
}

/* ------------------- header mobile ------------------ */

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 5px;
        text-align: center;
    }

    
    #header-text h1{
        font-size: 20px;
        width: 100%;
        max-width: 400px;
    }

    #header-text p {
        font-size: 15px;
    }
}

/* ---------------- saldos ----------------*/

#saldos-principais {
    display: flex;
    justify-content: center;
    padding: 30px;
}

#container-saldos {
    border: 1px solid gray;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: ;
    padding: 20px;
    max-width: 900px;
    width: 100%;
    gap: 10px;
}

#saldo-principal {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid gray;
    gap: 10px;
}

#saldo-principal p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

#saldo-principal h1{
    color: white;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}

#entrada {
    display: flex;
    gap: 20px;
    align-items: center;
}

#saldos {
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

#seta-up {
    border: 1px solid rgb(43, 43, 43);
    border-radius: 50%;
    display: flex;
    width: 38px;
    height: 38px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(43, 43, 43);
}

#seta-up svg{
    font-size: 25px;
    color: white;
}

#entradas {
    color:white
}

#entradas p{
    font-size: 15px;
}

#entradas h2 {
    font-size: clamp(1.5rem, 4vw, 1rem);
}

#saida {
    display: flex;
    align-items: center;
    gap: 20px;
}

#seta-down {
    border: 1px solid rgb(43, 43, 43);
    border-radius: 50%;
    display: flex;
    width: 38px;
    height: 38px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(43, 43, 43);
}

#seta-down svg{
    font-size: 25px;
    color: white;
}

#saidas {
    color:white
}

#saidas p{
    font-size: 15px;
}

#saidas h3 {
    font-size: clamp(1.5rem, 4vw, 1rem);
}


/* -------------------- SALDOS MOBILE --------------- */

@media (max-width: 480px) {

    #saldo-principal {
        padding: 5px;
        font-size: clamp(0.6rem, 1vw, 1rem);
    }

      #seta-up {
        width: 30px;
      }

      #entrada {
        gap: 4px;
      }
      
      #entradas p {
        font-size: 10px;
      }

      #entradas h2 {
        font-size: clamp(0.6rem, 2vw, 1rem);
      }

      #seta-down {
        width: 30px;
      }
      
      #saidas p {
        font-size: 10px;
      }

      #saidas h3 {
        font-size: clamp(0.6rem, 2vw, 1rem);
      }

      #saida {
        gap: 4px;
      }
}










/* ----------- CARDS -------------- */

#container-transacoes {

    border: 1px solid gray;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    max-width: 900px;
    width: 93%;
    gap: 10px;
    margin: 0 auto;
}

#container-transacoes h1{
    font-size: 20px;
    color: white;
}

#cards-transicoes {
    display: flex;
    gap: 10px;
    justify-content: center;
    justify-content: space-evenly;
}

#cards-transicoes input{
    padding: 10px;
    background-color: #0f0f14;
    border: none;
    border: 1px solid gray;
    border-radius: 8px;
    width: 70%;
    font-size: 14px;
    color: white;
    transition: 0.3s;
}

#cards-transicoes ::placeholder {
    color: gray;
}

#cards-transicoes input:hover {
    background-color: white;
    border: 1px solid #0f0f14;
    color: black;
}

#cards-transicoes input:hover::placeholder {
    color: black;
}
.btns {
    display: flex;
    gap: 20px;
    padding: 12px;
    background-color: #0f0f14;
    border: none;
    color: white;
    border: 1px solid gray;
    border-radius: 8px;
    align-items: center;
    font-size: 15px;
    width: 30%;
    justify-content: center;
    transition: 0.3s;
    font-weight: 600;
}

.btns span{
    font-size: 20px;
    font-weight: 600;
}

.btns:hover{
   background-color: white;
   color: #0f0f14;
   border: 1px solid #0f0f14;
}

/* ------------------ TRANSACOES TABLET ------------------ */

@media (max-width: 768px) {
   
    #container-transacoes {
        max-width: 92%;
   }

   #cards-transicoes input{
    width: 100%;
   }

   #cards-transicoes button {
    width: 100%;
   }

   .btns {
    font-size: 15px;
    padding: 5px;
   }

   .btns span{
    font-size: 20px;
   }
}

/* ------------------ TRANSACOES MOBILE 480PX ------------------ */

@media (max-width: 480px) {
   
    #container-transacoes {
        max-width: 86%;
   }

   #cards-transicoes {
    display: flex;
    flex-direction: column;
   }

   #cards-transicoes input{
    width: 100%;
   }

   #cards-transicoes button {
    width: 100%;
   }

   .btns {
    font-size: 20px;
    padding: 5px;
   }

   .btns span{
    font-size: 25px;
   }
}


/* ------------------ TRANSACOES MOBILE 400PX ------------------ */

@media (max-width: 400px) {
   
    #container-transacoes {
        max-width: 85%;
   }

   #cards-transicoes {
    display: flex;
    flex-direction: column;
   }

   #cards-transicoes input{
    width: 100%;
   }

   #cards-transicoes button {
    width: 100%;
   }

   .btns {
    font-size: 20px;
    padding: 5px;
   }

   .btns span{
    font-size: 25px;
   }
}

/*----------------- HISTORICO ---------------- */

#container-historico {
    border: 1px solid gray;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    max-width: 900px;
    width: 93%;
    gap: 10px;
    margin: 0 auto;
    margin-top: 20px;
}

#container-historico h1{
    font-size: 20px;
    color: white;
    padding: 5px;
    margin-top: 10px;
    border-bottom: 1px solid gray;
}

#container-historico ul {
    list-style: none;
    color: white;
    letter-spacing: 1px;
}

.cor-entrada {
    color: green;
}

.cor-saida {
    color: red;
}

.item-transacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 15px;
}
.coluna-esquerda {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1;
}

.circulo-seta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 43, 43);
    border-radius: 50%;
    padding: 5px;
    color: white;
}

.descricao-texto {
    color: white;

}

.tipo-texto {
    width: 100px;
    color: white;
    text-align: left;
    font-weight: 600;
}

.coluna-direita {
    font-weight: 600;
    flex: 1;
    text-align: right;
}

.cor-entrada .circulo-seta {
    background-color: green;  
}

.cor-saida .circulo-seta {
    background-color: red;  
}